table{
    text-align: left;
    color: blueviolet;
    border-collapse: collapse;
}
table th, table td{
    border: solid 1px blueviolet;
    padding: 10px;
    min-height: 160px;

}
img{
    height: 100px;
    width: 100px;
}
.adjust-update-link{
    margin-left: 10px;
}